@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
body{
    padding: 0;
    margin:0;
    background-image: url("main_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    color: white;

}

.header{
    font-family: "Bungee Shade", cursive;
    font-variant: small-caps;
    text-align: center;
    font-size: 75px;
    letter-spacing: -1px;
    word-spacing: -5px;
    color: rgb(70, 105, 170);
    background-color: rgba(84, 84, 84, 0);
    text-shadow: rgba(83, 79, 89, 0) 2px 2px 2px;
    margin: 0;

}
#back{
    text-decoration: none;
    color: lightgrey;
    padding: 10px;
}

#back:hover{
    color: white;
    border-bottom: 2px solid rgb(70, 105, 170);
}
.main_container{
    margin: 20vh auto;
    width: 700px;
    text-align: center;
    background-color: white;
    color: #404040;
    padding: 30px;
    box-shadow: 0 0 20px white;
}
.game_container{
    margin: 4vh auto 0 auto;
    width: 1400px;
    text-align: center;
}
.game_container h2{
    background-color: rgb(70, 105, 170);
    padding: 20px;
    margin: 0px auto;
    width: 1380px;
    text-align: left;
    clear: left;

}

.game_field{
    margin: 20px auto;
    width: 1400px;
    height: 700px;
    text-align: center;
    background: url('bg.jpg') repeat 0 0;
    position: relative;
    border: 10px solid rgba(0,0,0,0.3);
    margin-inside: 10px;
  /*  border-left: 2px solid #2e003e;
    border-right: 2px solid #2e003e;*/

}
.start_game_btn{
    border: none;
    text-decoration: none;
    background-color: rgb(70, 105, 170);
    color: white;
    font-size: 16px;
    padding: 20px;
    margin-inside: 20px;
}

.start_game_btn:hover{
    background-color: cadetblue;
}

#ship{
    position: absolute;
    left: 10px;
    top: 600px;


}

#meteor{
    position: absolute;
    top: 0;



}
