{% extends 'layout.html' %}

{% block content %}
<div class="main_container">
<h2 >You successfully completed the first level!</h2>
    <h1 class="header">Second mission</h1>
<p class="main_text">
    After destroying asteroids, your second mission will be a little bit more difficult: <br>
    You need to defeat the alien army's outpost before they can ask for reinforcement.
</p>
    <button class="start_game_btn">Next level</button><a href="/"><button class="start_game_btn">Back to main page</button></a>
</div>

{% endblock %}